@font-face {
    font-family: "WebSymbolsRegular";
    src: url("/rc/fonts/ws/websymbols-regular-webfont.eot");
    src: url("/rc/fonts/ws/websymbols-regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("/rc/fonts/ws/websymbols-regular-webfont.woff") format("woff"),
         url("/rc/fonts/ws/websymbols-regular-webfont.ttf") format("truetype"),
         url("/rc/fonts/ws/websymbols-regular-webfont.svg#WebSymbolsRegular") format("svg");
    font-weight: normal;
    font-style: normal;
}

.webSymbols, .ws {font-family:WebSymbolsRegular;}