$total-columns: 12;
$column-margin: 1.3;
$column-width: (100 - ($column-margin * ($total-columns - 1))) / $total-columns;

@mixin span ($colunms, $margin: $column-margin){
	width: percentage(
		($column-width * $colunms + ($column-margin * $colunms) - $column-margin) / 100
	);
	margin-right: percentage($margin / 100);
	position:relative;
	float:left;
}

@mixin prepend($columns){
	padding-left: percentage(
		($columns * $column-width + ($column-margin * $columns)) / 100
	);
}

@mixin append($columns){
	padding-right: percentage(
		($columns * $column-width + ($column-margin * $columns)) / 100
	);
}

@mixin pull($columns){
	margin-left: percentage(
		($columns * $column-width + ($column-margin * $columns)) / 100 * (-1)
	);
}
@mixin push($columns){
	margin-left: percentage(
		($columns * $column-width + ($column-margin * $columns)) / 100
	);
	margin-right: percentage(
		($columns * $column-width + ($column-margin * $columns)) / 100 * (-1)
	);
}