/* line 13, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 23, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_reset.scss */
body {
  line-height: 1;
}

/* line 29, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 32, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 36, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 44, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_reset.scss */
:focus {
  outline: 0;
}

/* line 53, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
body {
  font-size: 81.25%;
  line-height: 1.846em;
}

/* line 57, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html > body {
  font-size: 13px;
}

@font-face {
  font-family: 'ALSRubl-Arial';
  src: url("../fonts/rubl/arial/alsrubl-arial-regular.eot");
  src: url("../fonts/rubl/arial/alsrubl-arial-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/rubl/arial/alsrubl-arial-regular.woff") format("woff"), url("../fonts/rubl/arial/alsrubl-arial-regular.ttf") format("truetype"), url("../fonts/rubl/arial/alsrubl-arial-regular.svg#ALSRublRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ALSRubl-Arial-Italic';
  src: url("../fonts/rubl/arial/alsrubl-arial-italic.eot");
  src: url("../fonts/rubl/arial/alsrubl-arial-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/rubl/arial/alsrubl-arial-italic.woff") format("woff"), url("../fonts/rubl/arial/alsrubl-arial-italic.ttf") format("truetype"), url("../fonts/rubl/arial/alsrubl-arial-italic.svg#ALSRublRegular") format("svg");
  font-weight: normal;
  font-style: italic;
}

/* line 23, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_ruble.scss */
.rub {
  font-weight: normal;
  font-style: normal;
  font-family: 'ALSRubl-Arial', arial, sans-serif;
}

/* line 29, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_ruble.scss */
.rub_i {
  font-weight: normal;
  font-style: italic;
  font-family: 'ALSRubl-Arial-Italic', arial, sans-serif;
}

/* line 1, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_form.scss */
label {
  font-weight: normal;
}

/* line 2, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_form.scss */
fieldset {
  padding: 0 1.4em 1.4em 1.4em;
  margin: 0 0 1.5em 0;
  border: 1px solid #ccc;
}

/* line 3, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_form.scss */
legend {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: -0.2em;
  margin-bottom: 1em;
}

/* line 4, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_form.scss */
fieldset, #IE8#HACK {
  padding-top: 1.4em;
}

/* line 5, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_form.scss */
legend, #IE8#HACK {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 6, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_form.scss */
input[type=text], input[type=password], input[type=url], input[type=email], input.text, input.title, textarea, select {
  background-color: #fff;
  border: 1px solid #c6ccce;
  color: #1a1a1a;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  -moz-transition-property: box-shadow;
  -webkit-transition-property: box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/* line 14, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_form.scss */
input[type=text]:focus, input[type=password]:focus, input[type=url]:focus, input[type=email]:focus, input.text:focus, input.title:focus, textarea:focus {
  border-color: #98a8b1;
  -moz-box-shadow: 0px 0px 18px rgba(87, 182, 247, 0.4);
  -webkit-box-shadow: 0px 0px 18px rgba(87, 182, 247, 0.4);
  -o-box-shadow: 0px 0px 18px rgba(87, 182, 247, 0.4);
  box-shadow: 0px 0px 18px rgba(87, 182, 247, 0.4);
}

/* line 19, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_form.scss */
input[type=text], input[type=password], input[type=url], input[type=email], input.text, input.title, textarea, select {
  margin: -5px;
  margin-bottom: 10px;
  padding: 5px;
}

/* line 20, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_form.scss */
select {
  height: 2.45em;
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
}

/* line 22, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_form.scss */
input[type=submit], input[type=button] {
  background-color: #ef3d36;
  color: white;
  border: 1px solid white;
  padding: 5px 2em;
  position: relative;
  margin-right: 1em;
  font-size: 92.308%;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}

/* line 33, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_form.scss */
input[type=button] {
  background-color: #ef3d36;
}

/* line 37, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_form.scss */
input[type=submit]:active, input[type=button]:active, input[type=button]:active {
  top: 1px;
  left: 1px;
}

/* line 41, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_form.scss */
input[type=submit].busy, input.busy[type=button] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}

/* line 45, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_form.scss */
::-webkit-input-placeholder {
  color: #cccccc;
}

/* line 48, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_form.scss */
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #cccccc;
}

/* line 53, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_form.scss */
form.inline {
  line-height: 3;
}

/* line 54, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_form.scss */
form.inline p {
  margin-bottom: 0;
}

/* line 55, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_form.scss */
.error, .alert, .notice, .success {
  padding: 3px;
  margin: -5px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  margin-bottom: 10px;
  border: 2px solid #ddd;
}

/* line 59, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_form.scss */
.error, .alert {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 63, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_form.scss */
.error a, .alert a {
  color: #8a1f11;
}

/* line 65, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_form.scss */
.notice {
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 69, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_form.scss */
.notice a {
  color: #514721;
}

/* line 71, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_form.scss */
.success {
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 75, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_form.scss */
.success a {
  color: #264409;
}

/* line 2, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_appearance.scss */
a {
  color: #0071b4;
}

/* line 3, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_appearance.scss */
a:hover {
  color: #01a1ff;
}

/* line 4, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_appearance.scss */
a:visited {
  color: #003758;
}

/* line 8, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_appearance.scss */
body {
  color: #1a1a1a;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: false;
}

/* line 10, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_appearance.scss */
img {
  border: none;
}

/* line 11, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_appearance.scss */
img.fluid, embed.fluid, object.fluid, video.fluid {
  max-width: 100%;
}

/* line 14, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_appearance.scss */
div.prepend-top, .prepend-top {
  margin-top: 1.5em;
}

/* line 15, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_appearance.scss */
div.append-bottom, .append-bottom {
  margin-bottom: 1.5em;
}

/* line 17, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_appearance.scss */
hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 1px;
  margin: 0 0 17px;
  border: none;
}

/* line 18, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_appearance.scss */
hr.space {
  background: #fff;
  color: #fff;
  visibility: hidden;
}

/* line 22, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_appearance.scss */
.bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* line 23, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_appearance.scss */
.box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5eCf9;
}

/* line 24, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_appearance.scss */
.clearfix:after, .container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}

/* line 25, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_appearance.scss */
.clearfix, .container {
  display: block;
}

/* line 26, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_appearance.scss */
.clear {
  clear: both;
}

/* line 27, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_appearance.scss */
.hide {
  display: none;
}

/* line 28, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_appearance.scss */
.local {
  text-decoration: none;
  border-bottom: 1px dotted;
}

/* line 29, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_appearance.scss */
.nowrap {
  white-space: nowrap;
}

/* line 30, /Users/se/webservers/vhosts_tomcat/iq/dostavkino.dev/public_html/rc/compass/sass/_appearance.scss */
.top {
  margin-top: 0;
  padding-top: 0;
}
