// Tags
a{color:$link-color;}
a:hover {color:$link-hover-color;}
a:visited {color:$link-visited-color;}



body{color:$body-text-color; font-size:relative-unit(10px); background:$body-background-color;}

img{border:none;}
img.fluid, embed.fluid, object.fluid, video.fluid {max-width: 100%;}


// Classes
.blur{-webkit-filter: blur(8px);}
.bottom {margin-bottom:0;padding-bottom:0;}
.box {padding:1.5em;margin-bottom:1.5em;background:#e5eCf9;}
.clear:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clear, .container {display:block;}
.hide{display:none;}
.local{text-decoration:none; border-bottom:1px dotted;}
.nowrap{white-space:nowrap;}
.top {margin-top:0;padding-top:0;}

// ie < 9
.ie{

}