// Tags
a{color:$link-color;}
a:hover {color:$link-hover-color;}
a:visited {color:$link-visited-color;}



body{color:$body-text-color; font-family:$sans; font-size:relative-unit(10px); background:$body-background-color;}

img{border:none;}
img.fluid, embed.fluid, object.fluid, video.fluid {max-width: 100%;}


div.prepend-top, .prepend-top {margin-top:1.5em;}
div.append-bottom, .append-bottom {margin-bottom:1.5em;}

hr {background:$hr-color;color:$hr-color;clear:both;float:none;width:100%;height:1px;margin:0 0 17px;border:none;}
hr.space {background:#fff;color:#fff;visibility:hidden;}


// Classes
.bottom {margin-bottom:0;padding-bottom:0;}
.box {padding:1.5em;margin-bottom:1.5em;background:#e5eCf9;}
.clearfix:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, .container {display:block;}
.clear {clear:both;}
.hide{display:none;}
.local{text-decoration:none; border-bottom:1px dotted;}
.nowrap{white-space:nowrap;}
.top {margin-top:0;padding-top:0;}


// ie < 9
.ie{

}