@import "compass";

// Colors
$body-text-color:									#1A1A1A;
$body-background-color:						#fff;



$hr-color:												#ddd;

$link-color:											#0071B4;
$link-hover-color:								adjust-lightness($link-color, 15);
$link-visited-color:							adjust-lightness($link-color, -18);

@import "mixins";

//reset
@import "appearance/reset";


// fonts
@import "fonts/ptsans";
@import "fonts/rubl";

@import "appearance/base";
@import "appearance/form";
@import "appearance/typography";
@import "appearance/styles";