@import "compass", "reset";

// Colors
$body-text-color:									#1A1A1A;
$body-background-color:						#fff;



$hr-color:												#ddd;

$link-color:											#0071B4;
$link-hover-color:								adjust-lightness($link-color, 15);
$link-visited-color:							adjust-lightness($link-color, -18);


$base-font-size: 13px;
@include establish-baseline;


@import "mixins";

// fonts
@import "fonts/ptsans";
@import "fonts/rubl";



@import "appearance/form";
@import "appearance/styles";


